@model UserLogin
@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>ورود به سیستم</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Username):
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password):
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <button type="submit" class="btn btn-primary">ورود</button>
                <a href="@Url.Action("Register","Account")" class="btn btn-link">ثبت نام</a>
            </div>
        }
    </div>
</div>

